<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://js.stripe.com/v3/" defer></script>
  <title><%= fundName %></title>
</head>
<body>
  <h1>Hi! Come support <%= fundName %>!</h1>
  <p>Insert stripe api payment thing here</p>

  <!--probably change to just javascript pulling data from forms -->
  <label for="name">Name:</label>
  <input type="text" id="name" name="user_name" />

  <label for="name">email:</label>
  <input type="email" id="email" name="user_email" />

  <label for="name">Credit Card Number</label>
  <input type="text" id="card" name="user_card" />

  <label for="name">Expiration date</label>
  <input type="text" id="date" name="exp_date" />

  <label for="name">Gimme yo 3 nums on back</label>
  <input type="text" id="cvv" name="cvv" />

  <button id="submit" type="button"> submit2 </button>
  <script>
    document.getElementById('submit').addEventListener("click", function(){
      console.log(document.getElementById(name), document.getElementById(email), document.getElementById(card), document.getElementById(date), document.getElementById(cvv));
      alert(1);
      fetch("/create-checkout-session", {
        method: "POST",
        body: JSON.stringify({
          userId: 1,
          title: "Fix my bugs",
          completed: false
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      });
    });
  </script>

  

  <h2>How are donations used?</h2>
  <p>Each donation, regardless of size, is crucial how we create a supportive environment for success and growth. Your support goes beyond just funding a program; it's about building a foundation for achievement and new opportunities.</p>

  
</body>
</html>
