*{
    font-family: 'Inter', Helvetica, Arial, sans-serif; /* This needs the google link to that font for inter to work*/
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(41, 51, 92);
    --secondary-color: rgb(93, 162, 113);
    --highlight: #ffbf02;
    overflow-x: hidden;
  }